extends ../layout.pug

block content
  .row#fill-view
    .col
      form(action='/admin/dashboard/addUser', method='post')
        .row
          .col
            .form-group
              label(for='usercsv')
              textarea#usercsv.form-control(name='usercsv', style="height:500px;").
                All "users" will be removed from database before adding new users. Admins will not be removed.

                Everyone will be logged off.

                samiul, 12345, 0
                islam, 54321, 1
        .row
          .col.text-center
            input.btn.btn-primary.mr-1.disableOnClick(type='submit', value='Add Users')
