extends layout.pug


block content
  .row
    .col
      h1 Print Server
    .col.text-right
      h3= ip
  form(action='/printCode', method='post')
    .row
      .col
        .form-group
          label(for='code') Code
          textarea#code.form-control(name='code', style="height:500px;")
    .row
      .col.text-center
        input.btn.btn-primary.mr-1.disableOnClick(type='submit', value='Print')


block scripts
  script(src="/js/script.js", defer)
