doctype html
html(lang='en')
  head

    title Print Server

    link(rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/vendor/font-awesome-4.7.0/css/font-awesome.min.css")


    block head

    body
      .container
        include partials/header.pug

        .px-2
          block content

        include partials/footer.pug

      script(src="/vendor/jquery/jquery-3.2.1.min.js", defer)
      script(src="/vendor/notifyjs/notify.min.js", defer)
      script.
        var flash = !{flash};
      script(src="/js/script.js", defer)
