extends layout.pug

block content
  .row#fill-view
    .col-6.offset-3
      .text-center
        h2 Login
      form(action='/user/login', method='post')
        .form-group
          label(for="username") User Name
          input(placeholder="Enter Username", name="username").form-control#username
        .form-group
          label(for="password") Password
          input(placeholder="Enter Password", name="password", type="password").form-control#password
        .text-center
          button(type="submit").btn.btn-primary Login
